@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');



:root {
    --fonte1:  Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


html, body {
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.13);
    /*background-image: url(../imagens/fundo.jpg);
    background-attachment: fixed;*/
    font-family: var(--fonte1);
   

}


header {
    background-color: rgb(0, 0, 0);    
    background-position: top;
    color: white;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.389);
    

}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
    
}
header > p {
    padding-bottom: 50px;

}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;

}
header a:hover, footer a:hover {
    text-decoration: underline;
    color: darkgrey;
}


section {
    padding-top: 5vh;
    padding-bottom: 5vh;
    line-height: 2em;
    padding-left: 30px;
    font-family:var(--fonte3);
    font-size: 3.0vw;
    
}


section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: rgb(255, 255, 255);
    color: black;

}

section.imagem {
    background-color: rgba(0, 0, 0, 0.807);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p {
    display: inline-block; /*Interessante*/
    padding: 6px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.487); /*borda do texto*/
    box-shadow: 10px 1px 10px rgba(0, 0, 0, 0.389);    
    background-color: rgba(0, 0, 0, 0.489);
}

section#img01 {
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    /*background-size: cover;*/


}


section#img02 {
    background-image: url(../imagens/background002.jpg);
    /*background-size: cover;*/

    
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
   
    
}
